@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oxanium&family=Roboto:wght@500&family=Source+Sans+Pro&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon";
}


h1 {
    text-align: center;
    font-family: "Tilt Neon";
    font-size: 4rem;
}


.bookshelves {
    margin-top: 6rem;
    display: grid;
    place-items: center;
    gap: 2rem;
}
.shelf {
    width: 70vw;
    border-bottom: 3px solid grey;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-auto-flow: row;

    justify-content: space-between;
    padding-bottom: 4px;
    margin-bottom: 2rem;
    min-height: 80px;
    
    
}
.book {
    max-width: 90px;
}
#modal-btn {
    margin-left: 70%;
    border-style: none;
    background-color: white;
}
#modal-btn img {
    width: 5rem;
}

.input-modal,
.bookInfo-modal {
    display: none;
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}
.input-modal-content,
.bookInfo-modal-content {
    display: grid;
    position: relative;
    background-color: #f3f4f6;
    padding: 20px;
    margin: auto;
    width: 60%;
    height: 32%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 12px;
    place-items: center;
}
.input-close-btn,
.bookInfo-close-btn {
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    justify-self: end;
}
.input-close-btn:hover,
.bookInfo-close-btn:hover {
    color: darkgray;
}
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    top {top:0; opacity: 1;}
}
@keyframes animatetop {
    from {top:-300px; opacity: 0;}
    to {top:0; opacity: 1;}
}

#book-create label {
    font-size: 1rem;
}

#book-create {
    padding-left: .8rem;
}

input#title,
input#author,
input#page-count,
button#submit-button {
    display: block;
    height: 1.8rem;
    width: 92%;
    margin-left: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f3f4f6;
    border-width: 1px;
}

button#submit-button {
    height: 2.5rem;
    font-size: 1.3rem;
    background-color: #bef264;
    border-color: transparent;
    margin-top: 1rem;
    justify-self: center;
}

@media only screen and (min-width: 900px) {
    .shelf {
        min-height: 150px;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }
    .book {
        max-width: 150px;
    }
    #modal-btn {
        position: fixed;
        left: 20%;
        bottom: 5%;
        
    }
    .input-modal-content,
    .bookInfo-modal-content {
        width: 30%;
    }

}

.book-title {
    justify-self: center;
}
    


